{% extends 'core/base.html' %}
{% load static %}

{% block contenido_titulo %}
    Consecionario Hascar
{% endblock contenido_titulo %}

{% block contenido %}
    <!-- Heading Row-->
    <div class="row gx-4 gx-lg-5 align-items-center my-5">
        <div class="col-lg-7"><img class="img-fluid rounded mb-4 mb-lg-0" src="{% static 'core/img/hascar.jpg' %}" alt="..." /></div>
        <div class="col-lg-5">
            <h1 class="font-weight-light">Hascar</h1>
            <p>Hola! Somos Hascar un consecionario de autos de lijo importados, contamos con dos sedes una ubicada en Puerto Madero y otra en Olivos. Tenemos un amplio stock de autos, camionetas y motos de alta gama a la venta</p>
            <a class="btn btn-primary" href="#!">Contactanos!</a>
        </div>
    </div>
    <!-- Call to Action-->
    <div class="card text-white bg-secondary my-5 py-4 text-center">
        <div class="card-body"><p class="text-white m-0">Nos importa mucho tu experiencia con nosotros!</p></div>
    </div>
    <!-- Content Row-->
    <div class="row gx-4 gx-lg-5">

        {% include 'core/card.html' with titulo="Puerto Madero" %}
        {% include 'core/card.html' with titulo="Olivos" %}
        

    </div>

{% endblock contenido %}
